@model User
@{
    ViewBag.Title = "User List";
}
<div class="container-sm bg-light mt-5 center">

    <form asp-controller="Home" asp-action="Index" method="post">
        <div class="form-row justify-content-center">
            <div class="form-group col-md-6">
                <label asp-for="Email">Email Address</label>
                <input placeholder="Email" class="form-control" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-md-6">
                <label asp-for="Password"></label>
                <input placeholder="Password" class="form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-md-4 ">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
    <a asp-action="Registration" asp-controller="Home">Create New User</a>
</div>





@section Scripts{

  }